* {
    box-sizing: border-box;
}

.card_style {
    width: 324px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.20);
    background-color: #c5d5c5;
    padding: 10px;
}

.border {
    border: 2px solid #9fa9a3;
    border-radius: 10px;
}

.title {
    width: 300px;
}

.picture {
    height: 200px;
    width: 300px;
    margin-bottom: 5px;
}

.interesting_fact {
    font-style: italic;
}

.information {
    width: 300px;
    padding: 10px;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.list_item {
    font-weight: bold;
}

